*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: url(blade_runner.jpg);
    background-size: cover;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.title{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    text-decoration: underline 4px;
}


.questions-container{
    max-width: 800px;
    margin: 0 auto;
}

.question{
    border-bottom: 1px solid #fff;
}
.question button{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    justify-content: space-between;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.question p{
    background-color: rgba(0,0,0,.5);
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}

/*add this class when click*/
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}
.header{
    width: 100%;
    background-color: rgba(0,0,0,.2);
}
.header ul{
        text-align: center;
        color: black;
        font-size: 50px;
}

.header ul li{
    list-style: none;
    display: inline-block;
}

.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
}
.header ul li a:hover{
    background: #fff;
    color: black;
    cursor: pointer;
    transition: .5s;
}
